* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vmax;
  /* transition: all 0.1s; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;;
}

main {
  height: 90vh;
}
button:focus {
  outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.pane {
  /* overflow-y: scroll; */
  /* padding: 10px; */
}

.sidebar {
  width: 20%;
  height: 100vh;
  margin: 10px 10px;
  /* margin-right: 5vmax; */
}

.sidebar--note {
  /* display: flex; */
}

.sidebar--header {
  background-color: rgba(157, 153, 153,.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px .1px;
  border-radius: 10px;
}

.sidebar--header > h3 {
  font-size: 2rem;
  font-weight: 500;
}


.new-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  font-size: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  width: 80%;
  /* height: 100vh; */
}
.sidebar-element {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #4A4E74 #eee;
  scrollbar-base-color: blue;
  scroll-margin-left: 10px;
  scroll-behavior: smooth;
  width: 100%;
  height: 80%;
}
.title {
  overflow-y: scroll;
  transition: all 0.1s;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid grey;
  border-radius: 10px;
  margin: 5px 0px;
}

/* .title--delete {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
} */

.title:hover{
  background-color: rgb(200, 196, 196);
}
.selected-note:hover {
  background-color:#4A4E74;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

.selected-note {
  background-color: #4A4E74;
}

.selected-note .text-snippet {
  color: white;
  font-size: 2vmax;
  font-weight: 500;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 2vmax;
  font-weight: 500;
  line-height: 1.2rem;
  color: #4A4E74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.no-notes > h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #4A4E74;
}

.first-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 10px;
  padding: .7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vmax;
  font-weight: 600;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}


.delete-btn {
  display: none;
  background: none;
  border: none;
}

.title:hover > .delete-btn {
  display: block;
}

.trash-icon {
  cursor: pointer;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute
}

.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px
} 