* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vmax;
  /* transition: all 0.1s; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  ;
  /* height: 50vh; */
}

.split {
  padding: 10px;
  border-radius: 10px;
  border: .1px solid;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
  display: flex;
  height: 98.5vh;
  margin: 10px 10px;
  width: 99%;
}

.split>Editor {
  /* padding: 50px; */
}

button:focus {
  outline: none;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-notes {
  margin: 20px;
  border: .1px solid;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
  width: 95%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.no-notes>h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #4A4E74;
}

.first-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 10px;
  padding: .7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vmax;
  font-weight: 600;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}

.pane {
  /* overflow-y: scroll; */
  /* padding: 10px; */
}

.editor {
  width: 80%;
  margin-left: 10px;
  padding: 10px;
  border: .1px solid;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
  border-radius: 10px;
  /* border: solid black; */
}

.sidebar {
  width: 20%;
  height: 100%;
  padding: 1px 10px;
  margin-right: 10px;
  border: .1px solid;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
  border-radius: 10px;
}


.sidebar--header {
  background-color: rgba(157, 153, 153, .3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px .1px;
  border-radius: 10px;
  border: 0px solid;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
}

.sidebar--header>h3 {
  font-size: 2rem;
  font-weight: 500;
}

.new-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  font-size: 3vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.new-note:hover {
  background-color: white;
  color: black;
}

.sidebar-element {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #4A4E74 #eee;
  scrollbar-base-color: blue;
  scroll-margin-left: 10px;
  scroll-behavior: smooth;
  width: 100%;
  height: 75%;
}

.title {
  overflow-y: scroll;
  transition: all 0.1s;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid grey;
  border-radius: 10px;
  margin: 5px 0px;
  padding: 0px 10px;
}

.title:hover {
  background-color: rgb(200, 196, 196);
}

.selected-note:hover {
  background-color: #4A4E74;
}

.selected-note {
  background-color: #4A4E74;
}

.selected-note .text-snippet {
  color: white;
  font-size: 2vmax;
  font-weight: 500;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 2vmax;
  font-weight: 500;
  line-height: 1.2rem;
  color: #4A4E74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-btn {
  display: none;
  background: none;
  border: none;
  height: 40px;
  width: 40px;
}

.title:hover>.delete-btn {
  display: block;
  transition: all 0.9s;
}

.gutter {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
  /* background-color: grey; */
  height: 100%;
  width: 1px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter-horizontal{
  border: .1px solid black;
  /* margin: 5px; */
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
  background-color: rgb(95, 92, 92);
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3em;
  font-weight: 100;
}

.note-summary:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}
.mde-textarea-wrapper {
  position: relative; }
  .mde-textarea-wrapper textarea.mde-text {
    width: 100%;
    /* border: .1px solid black; */
    /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5); */
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    vertical-align: top;
    resize: vertical;
    overflow-y: auto; }
